extends layout.pug
block content
    section#content
        h2= text
            if hint
                h5
                    i Hint: #{hint}
        a(href=`/cards/${id}?side=${sideToShow}`)= sideToShowDisplay
        br
        br
        a(href='/cards')= 'random card'